html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    height: 100%;
}

.actionlink {
    text-decoration: none;
}

.field-validation-error {
    color: #ff006e;
    font-size: 10pt;
}

.fill {
    min-height: 100%;
}

.hint {
    font-size: 10pt;
    color: #0094ff;
}

.navbar-inverse {
    background-color: #121212;
}

.nav
{
    padding: 2px;
}


.nav > li > a {
    padding: 10px 0px;
}

.sidebar ul.nav li.parent ul li a {
    padding-right: 40px;
    padding-left: 40px;
}

.nav > li > a:hover, .nav > li > .sectionhead {
    font-weight: bold;
}

.nav > li > a:hover, .nav > li > .sectionitem {
    
}

.navbar-inverse .navbar-nav > li > a {
    margin: 0px 10px;
}

.sidebar 
{
    position: relative;
    top: 0px;
    min-height: 700px;
}

.sidebar span.glyphicon {
    margin-left: 10px;
}

.validation-summary-errors {
    color: #ff006e;
    font-size: 10pt;
}

@media (max-width: 767px) {
    
    .menu_responsive {
        clear: both;
    }

    div#loginpanel {
        padding-left: 0px;
        padding-right: 0px;
    }

    div#maincontent {
        width: 100%;
        min-height: 100%;
    }

    .sidebar {
		display: block;
  		position: inherit;
		top: 50px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
		overflow-y: auto; 
		background-color: #fff;
		box-shadow: 1px 0px 10px rgba(0, 0, 0, .05);
	}
	.navbar-header {
		width: 100%;
	}
    .breadcrumb {
        display: none;
    }
}

@media (min-width: 768px) {

    div#loginpanel {
        width: 450px;
    }
}