body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    font-size: 10pt;
}
section {
    margin-bottom: 20px;
}

.alert {
    padding: 0px;
    margin: 0px;
    font-size: 10pt;
}

.alert-success {
    background-color: transparent;
    border-color: transparent;
}

.bootstrap-table .fixed-table-toolbar .stats{
    font-size: 10pt;
}

.carousel-caption {
    color: #999;
}

.carousel-caption .hero-heading {
    color: #999;
}

.carousel-indicators {
    bottom:0px;
}

.dropdown {
	margin-left: 20px;
}

.dropdown .dropdown-menu {
    width: 260px;
}

.dropdown .dropdown-menu li a {
    white-space: normal;
}

.error {
    color: #ff006e;
}

.field-validation-error {
    color: #ff006e;
    font-size: 10pt;
}

.help-text {
    font-size: 10pt;
}

.hint {
    font-size: 10pt;
    color: #0094ff;
}

.navbar-logo-image {
    height: 40px; 
    margin-top: 5px;
}

.news-item .right {
    
}

.news-item .latest {
    height: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.products {
    margin-top: 20px;
    margin-left: -30px;    
    list-style-type: none;
    font-size: 9pt;
}

.products .detail {
    margin-top: 20px;
    text-align:center;    
}

.products li{
    display: inline-block; 
    position: relative;
    padding-right: 20px;
    padding-bottom: 20px;
}

.products li .productname{
    font-weight: bold;
}

.products li a {

}

.products li a img{
    max-width:160px; 
    height:auto;
}

.products li img {

}

.summary {
    font-size: 10px;
}
.summary .caption-eng {
    
}
.summary .caption-urd {
    font-size: 12px;
}
.summary .sale {
    color: #0026ff;
}

.summary .purchase {
    color: #ff006e;
}

.summary .saving {
    color: #b200ff;
}

.summary .payment {
    color: #0094ff;
}

.summary .remaining-payment {
    color: #ff0000;
}


.table_transactions {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.table_transactions th {
    font-size: 12px;
}

.table_transactions tbody{
    font-size: 9pt;
}

.table_reports {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.table_reports th {
    font-size: 10px;
}

.table_reports tbody{
    font-size: 8pt;
}

.validation-summary-errors {
    color: #ff006e;
    font-size: 10pt;
}


#webpage {
    width: 80%;
    min-height: 600px;
}

#webpage .maincotent {
    width: 70%;
    min-height: 400px;
    padding: 10px 10px;
    border-right: dashed 1px #CCC;
}

#webpage .rightside {
    width: 29%;
    min-height: 400px;
    padding: 10px 10px;
}

@media (max-width: 767px) {
    .menu_responsive {
        clear: both;
    }

    .myaccount_menu {
        margin-right: 10px;
    }

    .nav > li#username {
        display: none;
    }

    .nav > li#userpic {
        display: none;
    }


    div#registerpanel {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    div#textpanel {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    div#resetpanel {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    div#loginpanel {
        margin-top: 0px;
    }

    div#webpage {
        width: 100%;
        min-height: 100%;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 0px;
    }

    ol.breadcrumb {
        display: none;
    }
}

@media (min-width: 768px) {

    div#registerpanel {
        width: 600px;
    }

    div#loginpanel {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }

    div#textpanel {
        width: 600px;
    }

    div#resetpanel {
        width: 600px;
    }

    div#map_canvas {
        /*margin-top: 50px;*/
    }
}