
@{
    ViewBag.Title = "Index";    
}

@section Header
{
    <title>@Application.Core.Views.Help.Index.Page</title>
}

<!-- PAGE CONTENT -->
<div class="page-content">
    <div class="container help-text">

    </div>
</div>
<!-- END PAGE CONTENT -->
