<div class="container">
    <h2 class="d-flex align-content-start">User Management</h2>
    <p class="d-flex align-content-start">This is user management page.</p>
</div>

<div class='page-content' title=''> 
    <div class='container'>    
        <div class='card'>        
            <div class='card-header'>            
                <div class='form-row'> 
                    <span class='col-11 order-first result' data-bind="template: {name: 'results_messages'}"></span> 
                    <span class='col-1 order-last status' data-bind="template: {name: 'results_processing'}"></span>            
                </div>            
                <div class='form-row'>               
                    <div class='col-12' data-bind='if: Errors().length > 0'>                    
                        <ul class='errorlist' data-bind="template: {name: 'list_error_messages', foreach: Errors}"></ul>
                    </div>            
                </div>       
            </div>       
            <div class='card-body'> 
                <div data-bind="template: {name: 'actions'}"></div>           
                <div class='table-responsive'>                
                    <table class='table table-hover grid-style-0'> 
                        <thead data-bind="template: {name: 'headings'}"></thead>
                        <tbody data-bind="template: {name: 'rows', foreach: Records}"></tbody>
                    </table>            
                </div>        
            </div>        
            <div class='card-footer'> 
                <div class="row" data-bind="template: {name: 'standard_listings' }"></div>       
            </div>    
        </div> 
    </div> 
</div>

<section style="display: none">
    <script type='text/html' id='actions'>
        <div class='form-group ' id=''>         
            <div class='input-group'> 
                <span class='input-group-btn'><button data-bind="click: function(data, event) { resetForm(); $('#__form').dialog('open'); }" class='btn btn-default' title='New'><span>New</span></button></span>            
                <input class='form-control' data-bind='value: Keyword' type='text' placeholder='Keyword' />             
                <span class='input-group-append'><button data-bind='click: function() { find(1); }' class='btn btn-default' type='button' title='press to search'><span>Search</span></button></span>         
            </div>
        </div>
    </script>

    <script type='text/html' id='standard_listings'>
        <div class='col order-first'>         
            <div class='input-group justify-content-start' dir='ltr'>
                <span class='input-group-prepend'><span class='input-group-text'>List Size</span></span>             
                <select class='form-control col-2' data-bind="value: ListSize, event: {change: function() { find(CurrentList()); }}" id='form-field-select-1' style='width:auto;'>                 
                    <option value='10'> 10 </option>                 
                    <option value='20'>20</option>                 
                    <option value='50'> 50 </option>                 
                    <option value='100'>100</option>             
                </select>         
            </div>     
        </div>
        <div class='col order-last'> 
            <nav class="d-flex justify-content-end" aria-label="Listings">
                <ul class="pagination">
                    <li class="page-item" data-bind="css: {disabled: CurrentList() == 1}"><a class="page-link" href="#" data-bind="click: function() { find(CurrentList() - 1); }">Previous</a></li>
                    <!-- ko foreach: ListNavigator().getLists() -->
                    <li class="page-item"><a class="page-link" href="#" data-bind="click: function() { find(Number); }"><span data-bind="text: Number"></span></a></li>
                    <!-- /ko -->
                    <li class="page-item" data-bind="css: {disabled: CurrentList() == ListNavigator().calculateTotalPages()}"><a class="page-link" href="#" data-bind="click: function() { find(CurrentList() + 1); }">Next</a></li>
                </ul>
            </nav>
        </div>
    </script>

    <section> 
    <div id='__form' title=''>     
        <div>         
        <div>             
            <div class='modal-header form-row'>                 
                <h4 class='col order-0 modal-title d-flex justify-content-start' id='modalFormLabel'> 
                    <span data-bind='text: getEditMode() ? getEditModeCaption() : getNewModeCaption()'></span>                
                </h4>
            </div>             
            <div class='modal-body'>
                <div class='form-group'>
                    <div class='form-row' data-bind='visible: (RequestProgress() > 0 &&  RequestProgress() < 100)'>                        
                        <div class='col-12 progress' style='display: flex' data-bind="template: {name: 'request_progress'}"></div>
                    </div>
                    <div class='form-row'> 
                        <span class='col-11 order-first result' data-bind="template: {name: 'results_messages'}"></span>
                        <span class='col-1 order-last status' data-bind="template: {name: 'results_processing'}"></span>                   
                    </div>
                    <div class='form-row'>
                        <div class='col-12' data-bind='if: Errors().length > 0'>
                            <ul class='errorlist' data-bind="template: {name: 'list_error_messages', foreach: Errors}"></ul>
                        </div>
                    </div>
                </div>
                <div data-bind='with: getObservableFormObject()'> 
                    <div data-bind="template: {name: 'formcontent' }"></div>
                </div>
            </div>
            <div class='modal-footer'>
                <div class=''> 
                    <section>
                        <button type="button" onclick="javascript: $('#__form').dialog('close');" id="btnCloseAddForm" class="btn btn-default"><span>Close</span></button>   
                        <button type='button' data-bind='click: function() { getEditMode() ? update( {"TimeFields": [ "CreationDate", "ExpiryDate" ] }) : create(); }' id='btnAddEdit' class='btn btn-primary'>         <span>Save</span>     </button>  
                    </section>                
                </div>
            </div>
        </div>     
        </div> 
    </div> 
</section>
</section>

<section> <div id='secondForm' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true' style='display: none;' title=''>     
    <div class='modal-dialog modal-dialog-centered'>         
    <div class='modal-content'>             
        <div class='modal-header form-row'>                 
        <h4 class='col order-0 modal-title d-flex justify-content-start' id='modalFormLabel'> Image View Form                </h4> 
        <button type='button' class='col order-1 close d-flex justify-content-end' data-dismiss='modal'> 
            <span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>             
        </div>             
        <div class='modal-body'>                 
        <div class='form-group'>                    
            <div class='form-row' data-bind='visible: (RequestProgress() > 0 &&  RequestProgress() < 100)'>
            <div class='col-12 progress' style='display: flex' data-bind="template: {name: 'request_progress'}"></div>                    </div>                    <div class='form-row'> <span class='col-11 order-first result' data-bind="template: {name: 'results_messages'}"></span><span class='col-1 order-last status' data-bind="template: {name: 'results_processing'}"></span>                   </div>                    <div class='form-row'>                       <div class='col-12' data-bind='if: Errors().length > 0'>                            <ul class='errorlist' data-bind="template: {name: 'list_error_messages', foreach: Errors}"></ul>                        </div>                    </div>                </div>                <div data-bind='with: getObservableFormObject()'> <div data-bind="template: {name: 'uploadcontent' }"></div>               </div>             </div>             <div class='modal-footer'>                 <div class='_mdpullleft'> <section><button type='button' id='btnCloseAddForm' class='btn btn-default' data-dismiss='modal'><span>Close</span></button><button type='button' id='btnOK' class='btn btn-primary' data-dismiss='modal'> <span>Done</span></button></section>                </div>             </div>         </div>     </div> </div> </section>

<section> <div id='thirdForm' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true' style='display: none;' title=''>     <div class='modal-dialog modal-dialog-centered'>         <div class='modal-content'>             <div class='modal-header form-row'>                 <h4 class='col order-0 modal-title d-flex justify-content-start' id='modalFormLabel'> Image View Form                </h4> <button type='button' class='col order-1 close d-flex justify-content-end' data-dismiss='modal'> <span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>             </div>             <div class='modal-body'>                 <div class='form-group'>                    
            <div class='form-row' data-bind='visible: (RequestProgress() > 0 &&  RequestProgress() < 100)'>                        <div class='col-12 progress' style='display: flex' data-bind="template: {name: 'request_progress'}"></div>                    </div>                    <div class='form-row'> <span class='col-11 order-first result' data-bind="template: {name: 'results_messages'}"></span><span class='col-1 order-last status' data-bind="template: {name: 'results_processing'}"></span>                   </div>                    <div class='form-row'>                       <div class='col-12' data-bind='if: Errors().length > 0'>                            <ul class='errorlist' data-bind="template: {name: 'list_error_messages', foreach: Errors}"></ul>                        </div>                    </div>                </div>                <div data-bind='with: getObservableFormObject()'> <div data-bind="template: {name: 'viewcontent' }"></div>               </div>             </div>             <div class='modal-footer'>                 <div class='_mdpullleft'> <section><button type='button' id='btnCloseAddForm' class='btn btn-default' data-dismiss='modal'><span>Close</span></button><button type='button' id='btnOK' class='btn btn-primary' data-dismiss='modal'> <span>Done</span></button></section>                </div>             </div>         </div>     </div> </div> </section>

