@{
    ViewBag.Title = "Activate Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header
{
    <title>@LocaleResources.Views.Account.RegisterationPending.Page</title>
}

<div id="webpage" class="row align-items-center login">
    <div class="col-4 m-auto align-content-center">
        <div class="card">
            <div class="card-header">
                <h3>
                    @LocaleResources.Views.Account.RegisterationPending.Title
                </h3>
            </div>
            <div class="card-body">
                <p>@LocaleResources.Views.Account.RegisterationPending.Message</p>
            </div>
        </div>
    </div>
</div>