@{
    ViewBag.Title = "RegisterationConfirmed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header
{
    <title>@LocaleResources.Views.Account.RegisterationConfirmed.Page</title>
}

<div id="webpage" class="row align-items-center login">
    <div class="col-4 m-auto align-content-center">
        <div class="card">
            <div class="card-header">
                <h3>
                    @LocaleResources.Views.Account.RegisterationConfirmed.Title
                </h3>
            </div>
            <div class="card-body">
                <p>@MvcHtmlString.Create(string.Format(LocaleResources.Views.Account.RegisterationConfirmed.Message, Html.ActionLink(SharedLibrary.Resources.Global.FormMessages.Here, "login", "account")))</p>
            </div>
        </div>
    </div>
</div>