
@{
    ViewBag.Title = "About";
}

@section Header
{
    <title>@Application.Views.Help.About.PageT </title>
}

<!-- PAGE CONTENT -->
<div class="page-content">
    <div class="container help-text">
        <p></p>
    </div>
</div>
<!-- END PAGE CONTENT -->