<div name="HTMLCode">
    <section id="htmlcode-section">
        <section id="observer-section" data-bind="with: getObserverObject()">
            <section class="observer-section">
                <div class="card">
                    <div class="card-header">
                        <span data-bind="visible: getProcessing()"><i class="fa fa-cog fa-spin fa-2x"></i></span>
                        <span data-bind="if: getResultMessage().length > 0" class="alert"><span data-bind="text: getResultMessage()"></span></span>
                        <div data-bind="if: getErrors().length > 0">
                            <ul class="errorlist" data-bind="foreach: { data: getObservableErrors(), as: 'error' }">
                                <li class="alert"><span data-bind="text: errField"></span> <span data-bind="text: errMessage"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group form-row">
                            <div class="input-group">
                                <input class="form-control" type="text" data-bind="value: getObservableKeyword()" placeholder="enter key value here" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" data-bind="click: function(data,event) { $parents[0].get(getKeyword()); }">GET</button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" data-bind="click: function(data,event) { $parents[0].post({ key: {key: getKeyword() } }); }">POST</button>
                                </span>
                            </div>
                            <div class="form-group">
                                <p class="clear-fix">Try following <em>keys: Color 1, Color 2</em> input values.</p>
                            </div>
                        </div>
                        <div class="form-group form-row" data-bind="with: getObservableObject()">
                            <div class="col-4 order-0">
                                <input class="form-control" type="text" data-bind="value: Name()" readonly />
                            </div>
                            <div class="col-8 order-1">
                                <input class="form-control" type="text" data-bind="value: Description()" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
</div>


@section scripts {

    <script src="~/lib/knockoutjs/knockout-3.4.2.js"></script>
    <script src="~/lib/knockoutjs.validation/knockout.validation.min.js"></script>
    <script src="~/lib/windntrees/windntrees.min.js"></script>

    <script src="~/js/models/Color.js"></script>
    

    <script type="text/javascript">
        /**
         * ObjectView reference program implementation.
         *
         */
        var colors = new ObjectView({
            'uri': '/color',
            'observer': new ObjectObserver({ 'contentType': new Color({}), 'messages': new MessageRepository() })
        });

        $(function () {

            ko.validation.init({
                insertMessages: false,
                decorateElement: true,
                errorElementClass: 'error'
            });

            try {

                ko.applyBindings(colors);
            }
            catch (e) {

                console.log(e.message);
            }
        });
    </script>
}
