@{
    ViewData["Title"] = "Home page";
}

<!--Results awaiting status message template-->
<script type="text/html" id="results_processing">
    <span class="d-flex justify-content-end">
        <i class="fa fa-cog fa-spin" data-bind="visible: Processing()"></i>
    </span>
</script>

<!--Result message template-->
<script type="text/html" id="results_messages">
    <span class="alert d-flex justify-content-start" data-bind="if: ResultMessage().length > 0">
        <span data-bind="text: ResultMessage"></span>
    </span>
</script>

<!--Server side error message template-->
<script type="text/html" id="list_error_messages">
    <li class="alert alert-danger"><span data-bind="text: errField"></span> <span data-bind="text: errMessage"></span></li>
</script>

<!--search actions-->
<script type='text/html' id='actions_category'>
    <div class='col-sm-12 col-md-12 col-lg-12'>
        <div class='input-group'>
            <span class='input-group-prepend'><button data-bind='click: function() { resetForm(); }' class='btn btn-primary' type='button' title='New' data-toggle='modal' data-target='#__formcategory'><span>New</span></button></span>
            <input class='form-control' data-bind='value: Keyword' type='text' placeholder='Keyword' />
            <span class='input-group-append'>
                <button data-bind='click: function() { list(1); }' class='btn btn-primary' type='button' title='Search'><span>Search</span></button>
            </span>
        </div>
    </div>
</script>

<!--standard listing-->
<script type='text/html' id='standard_listings'>
    <div class='col-sm-12 col-md-6 col-lg-6 order-first'>
        <div class='input-group justify-content-start'>
            <span class='input-group-prepend'><span class='input-group-text'>Size</span></span>
            <select class='form-control col-2' data-bind="value: ListSize, event: { change: function() { list(CurrentList()); } }" id='form-field-select-1' style='width:auto;'>
                <option value='10'>10</option>
                <option value='20'>20</option>
                <option value='50'>50</option>
                <option value='100'>100</option>
            </select>
        </div>
    </div>
    <div class='col-sm-12 col-md-6 col-lg-6 order-last'>
        <nav class="d-flex justify-content-end" aria-label="Listings">
            <ul class="pagination">
                <li class="page-item" data-bind="css: {disabled: CurrentList() === 1 }"><a class="page-link" href="#" data-bind="click: function() { list(CurrentList() - 1); }">Prev</a></li>
                <!-- ko foreach: ListNavigator().getLists() -->
                <li class="page-item"><a class="page-link" href="#" data-bind="click: function() { list(CurrentList()); }"><span data-bind="text: Number"></span></a></li>
                <!-- /ko -->
                <li class="page-item" data-bind="css: {disabled: CurrentList() === ListNavigator().calculateTotalPages()}"><a class="page-link" href="#" data-bind="click: function() { list(CurrentList() + 1); }">Next</a></li>
            </ul>
        </nav>
    </div>
</script>

<!--Table headings template-->
<script type="text/html" id="headings_category">
    <tr>
        <th class="col-sm-12 col-md-8 col-lg-8 order-0" scope="col">
            <span class="d-flex align-content-start" title="Title">Title</span>
        </th>
        <th class="col-sm-12 col-md-4 col-lg-4 order-1" scope="col">&nbsp;</th>
    </tr>
</script>

<!--Table rows template-->
<script type="text/html" id="rows_category">
    <tr>
        <td><a href="#" data-bind="click: function(data, event) { $parent.selectTopics(data); }"><span class="d-flex align-content-start" data-bind="text: Title()"></span></a></td>
        <td>
            <div class="d-flex justify-content-end">
                <a class="p-1" href="#" data-bind="click: function(data, event) { $parent.resetFormForEditing($index); }" data-toggle="modal" data-target="#__formcategory" title="Edit"><i class="fa fa-edit text-success"></i>Edit</a>
                <a class="p-1" href="#" data-bind="click: function(data, event) { $parent.delete($data); }" title="Delete"><i class="fa fa-times text-danger"></i>Delete</a>
            </div>
        </td>
    </tr>
</script>

<!--Form template-->
<script type="text/html" id="formcontent_category">
    <div class="form-row form-group">
        <div class="col-4 order-0">
            <label class="control-label d-flex align-content-start" for="Title">
                Title
            </label>
            <input class="form-control col-12" data-bind="value: $parent.EditMode() ? Title : Title" id="Title" type="text" title="Title"
                   maxlength="100" placeholder="" /><span class="error"
                                                          data-bind="validationMessage: Title"></span>
        </div>
        <div class="col-8 order-1">
            <label class="control-label d-flex align-content-start" for="Description">
                Description
            </label>
            <input class="form-control col-12" data-bind="value: $parent.EditMode() ? Description : Description" id="Description" type="text" title="Description"
                   maxlength="200" placeholder="" /><span class="error"
                                                          data-bind="validationMessage: Description"></span>
        </div>
    </div>
</script>

<!--search actions-->
<!--changes: find is replaced with customized extended "search" function and referential "lists" are integrated. -->
<script type='text/html' id='actions_topics'>
    <div class='col-sm-12 col-md-12 col-lg-12'>
        <div class='input-group'>
            <span class='input-group-prepend'><button data-bind='click: function() { resetForm(); }' class='btn btn-primary' type='button' title='New' data-toggle='modal' data-target='#__formtopic'><span>New</span></button></span>
            <input class='form-control' data-bind='value: Keyword' type='text' placeholder='Keyword' />
            <span class='input-group-append'>
                <button data-bind='click: function() { list(1); }' class='btn btn-primary' type='button' title='Search'><span>Search</span></button>
            </span>
        </div>
    </div>
</script>

<!--listing item-->
<script type="text/html" id="listitem">
    <li>
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-6 col-lg-6 order-0">
                <!--Topic Subject-->
                <div class="d-flex justify-content-start"><a href="#topic-detail" data-toggle="collapse" data-bind="attr: { id: Uid, href: '#topic-detail' + Uid }"><h3 class="mt-3"><span data-bind="text: Subject()"></span></h3></a></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 order-0">
                <span class="d-flex justify-content-end">
                    <!-- ko if: (Category !== null && Category !== undefined) -->
                    <span>Category: </span>
                    <em>
                        <span data-bind="text: Category.Title "></span>,
                    </em>
                    <!-- /ko -->
                    <!-- ko if: (SkillLevel !== null && SkillLevel !== undefined) -->
                    <span>Skill Level: </span>
                    <em>
                        <span data-bind="text: SkillLevel.Title "></span>
                    </em>
                    <!-- /ko -->
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <!--Menu-->
                <div class="pb-2">
                    <span data-bind="text: Menu()"></span>
                </div>
                <div id="topic-detail" class="collapse" data-bind="attr: { id: 'topic-detail' + Uid }">
                    <!--Description1-->
                    <div data-bind="html: Description1()"></div>
                    <!--Description2-->
                    <div data-bind="html: Description2()"></div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="d-flex justify-content-start">
                                <!--UpdateTime-->
                                <span data-bind="text: UpdateTime()"></span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <!--list action fields-->
                            <div class="d-flex justify-content-end">
                                <a class="green p-2" href="#" data-bind="click: function(data, event) { $parent.resetFormForEditing($index); }" data-toggle="modal" data-target="#__formtopic" title="Edit"><i class="fa fa-edit text-success"></i>Edit</a>
                                <a class="red p-2" href="#" data-bind="click: function(data, event) { $parent.delete($data); }" title="Delete"><i class="fa fa-times text-danger"></i>Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</script>

<!--form content-->
<script type="text/html" id="formcontent_topic">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 order-0">
            <label class="d-flex justify-content-start" for="SkillLevelId">
                Skill
            </label>
            <select data-bind="options: $parent.SkillLevelsList, optionsText: 'key', optionsValue: 'val', value: SkillLevelId, optionsCaption: 'select skill'" title="Select Skill"
                    id="SkillLevelId" class="form-control col-12"></select><span class="error" data-bind="validationMessage: SkillLevelId"></span>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 order-1"></div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 order-0">
            <label class="control-label d-flex align-content-start" for="Subject">
                Subject
            </label>
            <input id="Subject" name="Subject" class="form-control col-12" data-bind="value: Subject" type="text" title="Subject"
                   maxlength="200" placeholder="" /><span class="error"
                                                          data-bind="validationMessage: Subject"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 order-0">
            <label class="control-label d-flex align-content-start" for="Menu">
                Menu
            </label>
            <input id="Menu" name="Menu" class="form-control col-12" data-bind="value: Menu" type="text" title="Menu"
                   maxlength="100" placeholder="" /><span class="error"
                                                          data-bind="validationMessage: Menu"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 order-0">
            <label class="control-label d-flex align-content-start" for="Description1">
                Description 1
            </label>
            <input id="Description1" name="Description1" class="form-control col-12" data-bind="value: Description1" type="text" title="Description 1"
                   maxlength="200" placeholder="" /><span class="error"
                                                          data-bind="validationMessage: Description1"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 order-0">
            <label class="control-label d-flex align-content-start" for="Description2">
                Description 2
            </label>
            <input id="Description2" name="Description2" class="form-control col-12" data-bind="value: Description2" type="text" title="Description 2"
                   maxlength="200" placeholder="" /><span class="error"
                                                          data-bind="validationMessage: Description2"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 order-0">
            <label class="control-label d-flex justify-content-start" for="Active">
                Active
            </label>
            <input id="Active" name="Active" data-bind="checked: Active" title="Active"
                   type="checkbox" class="form-check" /><span class="error" data-bind="validationMessage: Active"></span>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 order-1"></div>
    </div>
</script>

<!--Main binding-->
<div id="ko-node-element" class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 order-0">
            <!-- Action Status -->
            <div class="row">
                <!-- Display action response result message. -->
                <span class="col-sm-12 col-md-11 col-lg-11 p-0 order-first" data-bind="template: {name: 'results_messages'}"></span>
                <!-- Display processing status. -->
                <span class="col-sm-12 col-md-1 col-lg-1 p-0 order-last" data-bind="template: {name: 'results_processing'}"></span>
            </div>
            <!-- Errors List -->
            <div class="row" data-bind="if: Errors().length > 0">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <!-- Display server-side validation errors list -->
                    <ul class='errorlist' data-bind="template: {name: 'list_error_messages' , foreach: Errors}"></ul>
                </div>
            </div>
            <!-- Display action elements (new, search etc) -->
            <div class="row" data-bind="template: {name: 'actions_category'}"></div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <!-- Display data table heading columns -->
                    <thead data-bind="template: {name: 'headings_category'}"></thead>
                    <!-- Display data table rows -->
                    <tbody data-bind="template: {name: 'rows_category', foreach: Records}"></tbody>
                </table>
            </div>
            <!-- Display table listing elements -->
            <div class="row" data-bind="template: {name: 'standard_listings' }"></div>
            <!-- Modal category form for saving data -->
            <div id="__formcategory" class="modal fade" style="display: none;">
                <div class="modal-dialog modal-dialog-centered" style="min-width: 800px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="col order-0">
                                <span class="d-flex justify-content-start" data-bind="text: getEditMode() ? getEditModeCaption() : getNewModeCaption()"></span>
                            </h4>
                            <div class="col order-1">
                                <span class="d-flex justify-content-end">
                                    <button type="button" data-dismiss="modal"><span>×</span></button>
                                </span>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <span class="col-sm-12 col-md-10 col-lg-10 order-first result" data-bind="template: {name: 'results_messages'}"></span>
                                <span class="col-sm-12 col-md-2 col-lg-2 order-last status" data-bind="template: {name: 'results_processing'}"></span>
                            </div>
                            <div class="row" data-bind="if: Errors().length > 0">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <ul class='errorlist' data-bind="template: {name: 'list_error_messages' , foreach: Errors}"></ul>
                                </div>
                            </div>
                            <div data-bind="with: getFormObject()">
                                <div data-bind="template: {name: 'formcontent_category' }"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <span class="d-flex justify-content-end">
                                <span>
                                    <button type="button" id="btnCloseAddForm" class="btn btn-primary" data-dismiss="modal"><span>Close</span></button>
                                    <!-- invokes create, update method to save new and existing record. -->
                                    <!-- create/update are CRUD methods that are integrated in View (CRUDView) and linked with Observer (CRUDObserver composed of observables). -->
                                    <button type="button" data-bind="click: function() { getEditMode() ? update() : create(); }" id="btnAddEdit" class="btn btn-primary"><span>Save</span></button>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Referential Binding-->
        <!--Following section is bound with (windntrees) topic view's observer object. -->
        <div class="col-sm-12 col-md-8 col-lg-8 order-1" data-bind="with: getReferentialView('topic-view').getObserverObject()">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <!-- Display action response result message. -->
                        <span class="col-sm-12 col-md-10 col-lg-10 order-first result" data-bind="template: {name: 'results_messages'}"></span>
                        <!-- Display processing status. -->
                        <span class="col-sm-12 col-md-2 col-lg-2 order-last status" data-bind="template: {name: 'results_processing'}"></span>
                    </div>
                    <div class="row" data-bind="if: Errors().length > 0">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <!-- Display server-side validation errors list -->
                            <ul class='errorlist' data-bind="template: {name: 'list_error_messages' , foreach: Errors}"></ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Display action elements (new, search etc) -->
                    <div class="row" data-bind="template: {name: 'actions_topics'}"></div>
                    <ul class="p-0" data-bind="template: {name: 'listitem', foreach: Records}"></ul>
                </div>
                <div class="card-footer">
                    <!-- Display table listing elements -->
                    <div class="row" data-bind="template: {name: 'standard_listings' }"></div>
                </div>
            </div>
            <!-- Modal topic form for saving input data -->
            <div id="__formtopic" class="modal fade" style="display: none;">
                <div class="modal-dialog modal-dialog-centered" style="min-width: 800px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="col order-0">
                                <span class="d-flex justify-content-start" data-bind="text: getEditMode() ? getEditModeCaption() : getNewModeCaption()"></span>
                            </h4>
                            <div class="col order-1">
                                <span class="d-flex justify-content-end">
                                    <button type="button" data-dismiss="modal"><span>×</span></button>
                                </span>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <span class="col-sm-12 col-md-10 col-lg-10 order-first result" data-bind="template: {name: 'results_messages'}"></span>
                                <span class="col-sm-12 col-md-2 col-lg-2 order-last status" data-bind="template: {name: 'results_processing'}"></span>
                            </div>
                            <div class="row" data-bind="if: Errors().length > 0">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <ul class='errorlist' data-bind="template: {name: 'list_error_messages' , foreach: Errors}"></ul>
                                </div>
                            </div>
                            <div data-bind="with: getFormObject()">
                                <div data-bind="template: {name: 'formcontent_topic' }"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <span class="d-flex justify-content-end">
                                <span>
                                    <button type="button" id="btnCloseAddForm" class="btn btn-primary" data-dismiss="modal"><span>Close</span></button>
                                    <!-- invokes create, update method to save new and existing record. -->
                                    <!-- create/update are CRUD methods that are integrated in View (CRUDView) and linked with Observer (CRUDObserver composed of observables). -->
                                    <button type="button" data-bind="click: function() { getEditMode() ? updateRecord() : create(); }" id="btnAddEdit" class="btn btn-primary"><span>Save</span></button>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/js/Models/Category.js" type="text/javascript"></script>
    <script src="~/js/Models/Topic.js" type="text/javascript"></script>

    <script type="text/javascript">

        //Messages repository required to display action results.
        //Note: You may remove following message repository initialization script,
        //however, then you should update knockout HTML templates accordingly.
        function intialize(repository) {

            repository.clean();
            repository.add(new LocaleMessage("form.new.text", "New"));
            repository.add(new LocaleMessage("form.edit.text", "Edit"));
            repository.add(new LocaleMessage("form.noRecord.text", "No record found."));
            repository.add(new LocaleMessage("form.found.text", "Found"));
            repository.add(new LocaleMessage("form.records.text", "Record(s)"));
            repository.add(new LocaleMessage("form.saved.text", "Saved"));
            repository.add(new LocaleMessage("form.failed.text", "Failed"));
            repository.add(new LocaleMessage("form.displayingPage.text", "Displaying page"));
            repository.add(new LocaleMessage("form.of.text", "of"));
            repository.add(new LocaleMessage("form.totalPages.text", ""));
            repository.add(new LocaleMessage("form.ok.text", "Ok"));
            repository.add(new LocaleMessage("standard.alertSure.text", "Are you sure to delete record?"));
            repository.add(new LocaleMessage("standard.processing.text", "Processing..."));
            repository.add(new LocaleMessage("standard.err.text", "Requested operation failed, an error occured while processing your request."));
            repository.add(new LocaleMessage("standard.ok.text", "Requested operation completed successfully."));
            repository.add(new LocaleMessage("standard.listloadok.text", "List loaded successfully."));
            repository.add(new LocaleMessage("standard.listloaderr.text", "List load failed."));

            return repository;
        }

        //main view
        var categoryView = new CRUDView({
            'uri': '/category', //service uri address
            'observer': new CRUDObserver({ 'contentType': new Category({}), 'messages': intialize(new MessageRepository()) }), // observer
            'views': new ListObserver({ object: new ObjectObserver({}) }) //listobserver and object observer hosts referenced views
        });

        //referenced view
        var topicView = new CRUDView({
            'key': 'topic-view',
            'uri': '/topic', //service uri address
            'objectkey': null, //set key here to referenced records
            'keyfield': 'CategoryId', //set key field that is required to be updated while storing new records automatically
            'observer': new CRUDObserver({ 'contentType': new Topic({}), 'messages': intialize(new MessageRepository()) }), // observer
            'fields': [
                {
                    'uri': '/skilllevel', // server side CRUDController uri address
                    'target': 'List', // CRUDController function that you want to invoke to get list results
                    'field': 'SkillLevelsList', // CRUDObserver will be extended with SkillLevelsList list observable (ko.observableArray)
                    'key': 'Title', // key (display) field bound with dropdown list
                    'value': 'Uid' // value field bound with dropdown list
                }]
        });

        //extended method to remove referential fields
        topicView.getObserverObject().updateRecord = function () {

            var entityObject = topicView.getObserverObject().getFormObject();

            //remove (or trim) referential fields to get in compliance with
            //server side action method
            entityObject.Category = null;
            entityObject.SkillLevel = null;

            //make create CRUD call with corrected content object
            topicView.getObserverObject().update({ content: entityObject });
        };
        
        //select reference topics
        categoryView.getObserverObject().selectTopics = function (category) {

            //set reference key
            topicView.setObjectKey(category.Uid);

            //load reference records
            topicView.list(1);
        };

        //adds referential (topic) view in category view
        categoryView.getReferentialViews().newItem({ 'object': topicView });

        //Extends related observable fields like 'SkillLevelsList'
        topicView.ExtendFields();

        $(function () {

            try {

                ko.validation.init({ insertMessages: false, decorateElement: true, errorElementClass: 'error' });
                ko.validation.registerExtenders();

                //binds main view's observer object with document node
                ko.applyBindings(categoryView.getObserverObject(), document.getElementById('ko-node-element'));
            }
            catch (e) {

                console.log(e.message);
            }

            //loads reference lists
            topicView.LoadFields();

            //loads category view
            categoryView.load();
        });

    </script>
}